body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

header {
  background-color: #fff;
  padding:  15px 0;
}

.header-inner {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  border-radius: 8px;
}

.logo img {
  height: 50px;
}

.logo-text {
  display: flex;
  flex-direction: column;
}

.logo-text p {
  margin: 0;
  font-size: 20px;
  color: #5a5a5a;
}

.logo-text strong {
  font-size: 24px;
  text-transform: uppercase;
  color:  #39930d;
  font-weight: bold;
}

.tel {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #5a5a5a;
  font-weight: bold;
}

.schedule,
.phone {
  display: flex;
  align-items: center;
  gap: 6px;
}


.phone a {
  font-size: 14px;
  font-weight: bold;
  color: #5a5a5a;
  text-decoration: none;
}


main {
  padding: 0 15px;
}

.big.picture {
  margin-bottom: 16px;
}

.big.picture img {
  width: 100%;
  display: block;
}

.small.picture {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 30px;
}

.small.picture img {
  width: 24%;
  height: auto;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.partners {
  min-width: 300px;
}

.about-football h1 {
  font-size: 24px;
  color:  #39930d;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 0;
}

.about-football p {
  font-size: 14px;
color: #343434;
}

.partners h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;;
  background-color: #4CAF50;
  padding: 13px 19px ;
  margin: 0; 
}

.partners ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partners li {
  margin-bottom: 5px;
  margin-left: 19px; 
}

.partners a {
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #343434;
}

footer {
  background-color: #4CAF50;
  padding: 14px 135px;
  color: #fff;
  font-size: 14px;
}

.footer-inner {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footballmanager p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

footer .apps {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}






