body {
  font-family: Arial, sans-serif;
  background-color: #fff;
   margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  font-size: 14px;
  color: #5a5a5a;
  font-size: 20px;
  margin: 0;
}

.logo strong {
  font-size: 24px;
  text-transform: uppercase;
  color: #39930d;
  font-weight: bold;

}

.tel {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.tel img {
  vertical-align: middle;
  margin-right: 6px;
}

main {
  background-color: #fff;
  padding: 0 40px;
}

.big.picture {
  margin-top: 20px;
}

.small.picture {
  display: flex;
  margin: 20px 0;
}

.content-wrapper {
  display: flex;
  padding-bottom: 30px;
}

.about-football {
  flex: 2;
}

.about-football h1 {
  font-size: 24px;
  color: #39930d;
  font-weight: bold; 
  margin-bottom: 10px;
}

.about-football p {
  font-size: 14px;
  color: #343434;
  margin-bottom: 10px;
}

.partners {
  flex: 1;
}

.partners h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  background-color: #4CAF50;
  font-size: 16px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.partners ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.partners li {
  margin-bottom: 8px;
}

.partners a {
  font-size: 14px;
  line-height: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #343434;
  font-size: 14px;
}

.footballmanager p {
  font-size: 14px;
  color: #fff;
}

footer {
  background-color: #4CAF50;
  padding: 20px 40px;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .apps {
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
